html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
main {
  font-family: 'Open Sans', 'helvetica nue', helvetica;
  font-size: 14px;
  font-weight: 400;
  display: flex;
}
main section * {
  transition: all ease-out 100ms;
}
.l--grid-half {
  width: 100%;
  max-width: 49%;
  display: inline-block;
}
.icon:after,
.icon:before {
  font-family: 'Duo Admin Icons' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25em;
}
.icon:after {
  padding-left: 0.5em;
}
.icon:before {
  padding-right: 0.5em;
}
.icon:before:hover, .icon:after:hover {
  box-shadow: none;
}
button.icon-only {
  padding-left: 12px;
  padding-right: 6px;
}

button.icon:after, button.icon:before {
  vertical-align: middle;
}
a.icon:after, a.icon:before {
  vertical-align: text-bottom;
}
button {
  font-size: 14px;
  font-weight: 400;
  line-height: 1em;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #405665;
  padding: 12px 20px;
  color: #444;
  background-color: #fff;
  border-collapse: separate;
}
button:hover {
  -webkit-box-shadow: 0px 3px 0px 0px currentColor;
  -moz-box-shadow: 0px 3px 0px 0px currentColor;
  box-shadow: 0px 3px 0px 0px currentColor;
}
button:focus {
  -webkit-box-shadow: 0px 0px 2px 2px currentColor;
  -moz-box-shadow: 0px 0px 2px 2px currentColor;
  box-shadow: 0px 0px 2px 2px currentColor;
  outline: none;
}
a {
  color: #444;
  text-decoration: underline;
  transition: box-shadow linear 150ms;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-shadow: 0px 0px 1px currentColor;
  box-shadow: none;
  outline: none;
}
button:hover,
a:hover {
  cursor: pointer;
  box-shadow: 0px 3px 0px 0px currentColor;
}
a.c--destruction {
  color: #D4423B;
}
a.c--destruction:focus {
  text-shadow: 0px 0px 5px #D4423B;
}
button.c--destruction:before {
  content: '\e043';
  display: inline-block;
  color: #D4423B;
  font-size: 1.2em;
  font-weight: bold !important;
  padding-right: 6px;
}
button.a--destruction-ico:before {
  padding-right: 0;
}
.c--destruction:hover {
  border-color: #D4423B;
  box-shadow: 0px 3px 0px 0px #D4423B;
}
.c--cta {
  color: #fff;
  background-color: #405665;
}
.c--cta:hover {
  background-color: #31424E;
  border-color: #10161A;
  box-shadow: 0px 3px 0px 0px #10161A;
}
.c--cta:focus {
  box-shadow: 0px 0px 2px 2px #405665;
}
.c--disabled {
  background-color: #EFEFEF;
  border-color: #CCCCCC;
}
.c--disabled:hover {
  border-bottom-width: 1px;
  border-bottom-color: #CCC;
  box-shadow: none;
  font-weight: 400;
  cursor: default;
}
.c--dropdown {
  position: relative;
  width: auto;
  display: inline-block;
}
.a--dropdown-trigger {
  text-decoration: none;
}
.a--dropdown-trigger:after {
  content: "\e02f";
  vertical-align: text-bottom;
}
.a--dropdown-content {
  position: relative;
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: inline-block;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #405665;
  width: 110%;
  margin-top:10px;
  box-shadow: 2px 2px 2px 0px #ccc;
}
.a--dropdown-content:before {
  position: absolute;
  background-color: #fff;
  bottom: 95%;
  right: 11%;
  content: '\e108';
  font-family: 'Duo Admin Icons';
}
.a--dropdown-content dd {
  margin-left: 0;
}
.a--dropdown-checkbox {
  position: absolute;
  top:0;
  left:0;
  opacity:0;
  height: 20px;
  width: 100%;
  cursor: pointer;
}
.a--dropdown-checkbox:checked ~ .a--dropdown-content {
  opacity: 1;
  height: auto;
  overflow: visible;
}

.c--nav-back:before, .c--pag-back:before {
  content: "\e02c";
  text-decoration: none;
  box-shadow: 0px 3px 0px 0px #fff;
  display: inline-block;
}
.c--continue:after, .c--pag-forward:after {
  content: "\e049";
  text-decoration: none;
  box-shadow: none;
  display: inline-block;
}
.c--pag-back:before,
.c--pag-forward:after {
  padding: 0;
}
.c--pag-current {
  border: 1px solid currentColor;
  border-radius: 50%;
  padding: 0.125em 0.5em;
  line-height: 1em;
  text-decoration: none;
}
.c--pag-current:hover {
  border-color: #405665;
  background-color: #405665;
  color: #fff;
  box-shadow: none;
}
.a--pag-num {
  padding: 0.125em 0.5em;
  text-decoration: none;
}


/*//////////////// Section 2 styles /////////////*/
.set-2 a:focus {
  text-shadow: none;
  box-shadow: none;
  outline: none;
  border: 1px solid currentColor;
  border-radius: 3px;
  padding: 0.125em 0.5em;
}
.set-2 button:hover {
  background-color: #476376;
  border-color: #476376;
  box-shadow: 0px 3px 0px 0px #31424E;
  color: #fff;
  transition: color ease-in 200ms,
              box-shadow linear 300ms;
}
.set-2 button.c--cta:hover {
  background-color: #476376;
  border-color: #476376;
  box-shadow: 0px 3px 0px 0px #31424E;
}
.set-2 button.c--destruction:hover {
  box-shadow: 0px 3px 0px 0px #A3312B;
  color: #fff;
  background-color: #D4423B;
  border-color: #D4423B;
}
.set-2 button.c--destruction:hover:before {
  color: #fff;
  transition: color ease-in 200ms;
}
.set-2 button.c--disabled {
  background-color: #EFEFEF;
  border-color: #CCC;
  cursor: not-allowed;
  position: relative;
}
.set-2 .c--disabled i {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  right: 0;
  left: 113%;
  top: 0;
  transition: opacity ease-in 200ms,
              background-color linear 50ms;
  padding: 1em;
  border: 1px solid currentColor;
  border-radius: 3px;
  visibility: hidden;
  background-color: #fff;
  line-height: 1.5em;
}
.set-2 .c--disabled i:before {
  position: absolute;
  background-color: #fff;
  top: 10%;
  left: -6%;
  content: '\e109';
  font-style: normal;
  font-family: 'Duo Admin Icons';
  line-height: 1rem;
}
.set-2 .c--disabled:hover i {
  width: 200%;
  height: auto;
  opacity: 1;
  visibility: visible;
}
.set-2 button.c--disabled:hover {
  border-bottom-width: 1px;
  border-bottom-color: #CCC;
  box-shadow: none;
  font-weight: 400;
  cursor: not-allowed;
  color: currentColor;
}

.set-2 .a--dropdown-content {
  width: 0;
  right: 0%;
  left: 100%;
  top: 90%;
  height: 100%;
  max-height: 0;
  position: absolute;
  transition: width linear 100ms,
              height linear 100ms,
              position linear 100ms,
              opacity ease-in 300ms,
              left linear 100ms,
              top linear 100ms,
              right linear 100ms,
              bottom linear 100ms,
              max-height linear 200ms,
              overflow linear 600ms;
}
.set-2 .a--dropdown-checkbox:checked ~ .a--dropdown-content {
  width: 110%;
  left: 0;
  right: -10%;
  max-height:20vw;
}
.set-2 .c--pag-current {
  border: none;
  border-radius: 0;
  font-weight: 500;
  box-shadow: 0px 3px 0px 0px currentColor;
}
.set-2 .c--pag-current:hover {
  border-color: #405665;
  background-color: #405665;
  color: #fff;
  box-shadow: none;
  border-radius: 50%;
  cursor: default;
}
.set-2 .a--pag-num:hover {
  border: 1px solid #405665;
  background-color: #fff;
  box-shadow: none;
  border-radius: 50%;
}


/*///////////////// Section 3 styles ////////////////*/
.set-3 a {
  transition: color ease-in-out 25ms 25ms,
              background-color ease-in-out 100ms 0ms,
              box-shadow ease-in-out 100ms 0ms;
  text-decoration: none;
  box-shadow: 0px 1px 0px 0px currentColor;
}
.set-3 a:hover {
  box-shadow: 0px 3px 0px 0px currentColor;
}
.set-3 a:focus {
  text-shadow: none;
  box-shadow: none;
  outline: none;
  border: 1px solid currentColor;
  border-radius: 3px;
  padding: 0.125em 0.5em;
}
.set-3 button {
  background-color: transparent;
  position: relative;
  z-index: 300;
  overflow: hidden;
  transition: color ease-in 80ms 300ms,
              background-color ease-in 200ms 300ms,
              box-shadow ease-in-out 200ms 0ms,
              border ease-in-out 200ms 0ms;
}
.set-3 button:hover {
  background-color: #476376;
  border-color: #476376;
  box-shadow: 0px 3px 0px 0px #31424E;
  color: #fff;
  transition: color ease-in 100ms 250ms,
              background-color ease-in 200ms 250ms,
              box-shadow linear 200ms;
}
.set-3 button:not(.c--disabled):after {
  content: '';
  position: absolute;
  width: 50%;
  height: 0;
  bottom: 0;
  right: 25%;
  padding:0;
  border-top-left-radius: 75%;
  border-top-right-radius: 75%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  z-index: -100;
  background-color: #476376;
  transition: background-color ease-in-out 150ms 250ms,
              border-radius ease-in-out 150ms 250ms,
              height ease-in-out 150ms 250ms,
              width ease-in-out 150ms 250ms,
              right ease-in-out 150ms 250ms;
}
.set-3 button:not(.c--continue):hover:after {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  height: 200%;
  width: 100%;
  right: 0;
}
.set-3 button.c--cta {
  background-color: #405665;
}
.set-3 button.c--cta:hover {
  background-color: #476376;
  border-color: #476376;
  box-shadow: 0px 3px 0px 0px #31424E;
}
.set-3 button.c--destruction:after {
  background-color: #D4423B;
}
.set-3 button.c--destruction:hover {
  box-shadow: 0px 3px 0px 0px #A3312B;
  color: #fff;
  background-color: #D4423B;
  border-color: #D4423B;
}
.set-3 button.c--destruction:before {
  transition: color linear 200ms 250ms;
}
.set-3 button.c--destruction:hover:before {
  color: #fff;
}
.set-3 button.c--disabled {
  background-color: #EFEFEF;
  border-color: #CCC;
  cursor: not-allowed;
  position: relative;
  overflow: visible;
}
.set-3 .c--disabled i {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  right: 0;
  left: 113%;
  top: 0;
  transition: opacity ease-in 200ms,
              background-color linear 50ms;
  padding: 1em;
  border: 1px solid currentColor;
  border-radius: 3px;
  visibility: hidden;
  background-color: #fff;
  line-height: 1.5em;
}
.set-3 .c--disabled i:before {
  position: absolute;
  background-color: #fff;
  top: 11%;
  left: -5%;
  content: '\e109';
  font-style: normal;
  font-family: 'Duo Admin Icons';
  line-height: 1rem;
}
.set-3 .c--disabled:hover i {
  width: 250%;
  height: auto;
  opacity: 1;
  visibility: visible;
  text-align: left;
  font-style: normal;
}
.set-3 button.c--disabled:hover {
  border-bottom-width: 1px;
  border-bottom-color: #CCC;
  box-shadow: none;
  font-weight: 400;
  cursor: not-allowed;
  color: currentColor;
}
.set-3 .a--dropdown-trigger {
  box-shadow: 0px 0px 0px 0px currentColor;
}
.set-3 .a--dropdown-content {
  position: relative;
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: inline-block;
  padding: 0;
  border-radius: 3px;
  border: 1px solid #405665;
  width: 110%;
  max-height: 0;
  margin-top:10px;
  box-shadow: 2px 2px 2px 0px #ccc;
  transition: opacity ease-in 200ms 100ms,
              height ease-in-out 200ms 0ms,
              max-height ease-in-out 200ms 0ms,
              padding ease-in-out 0ms 0ms;
}
.set-3 .a--dropdown-checkbox:checked ~ .a--dropdown-content {
  opacity: 1;
  height: auto;
  max-height: 100vw;
  overflow: visible;
  padding: 15px;
}
.set-3 .a--pag-num,
.set-3 .c--pag-back,
.set-3 .c--pag-forward {
  box-shadow:0px 0px 0px 0px currentColor;
}
.set-3 .c--pag-current {
  border: none;
  border-radius: 0;
  font-weight: 500;
  box-shadow: 0px 3px 0px 0px currentColor;
}
.set-3 .c--pag-current:hover {
  cursor: default;
  box-shadow: 0px 3px 0px 0px currentColor;
}
.set-3 .a--pag-num:hover {
  background-color: #444;
  color: #fff;
  box-shadow: 0px 3px 0px 0px #405665;
}
.set-3 button.c--continue:after {
  content: "\e049";
  text-decoration: none;
  box-shadow: none;
  display: inline-block;
  position: relative;
  padding-left: 6px;
  width: auto;
  right: auto;
  height: auto;
  left: auto;
  bottom: auto;
  border-radius: 0px;
  background-color: transparent;
}
.set-3 .c--continue:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 0;
  bottom: 0;
  right: 25%;
  padding:0;
  border-top-left-radius: 75%;
  border-top-right-radius: 75%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  z-index: -100;
  background-color: #476376;
  transition: background-color ease-in-out 150ms 250ms,
              border-radius ease-in-out 150ms 250ms,
              height ease-in-out 150ms 250ms,
              width ease-in-out 150ms 250ms,
              right ease-in-out 150ms 250ms;
}
.set-3 .c--continue:hover:before {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  height: 200%;
  width: 100%;
  right: 0;
}

/*//////////////// Section 4 styles /////////////*/
.set-4 a:focus {
  text-shadow: none;
  box-shadow: none;
  outline: none;
  border: 1px solid currentColor;
  border-radius: 3px;
  padding: 0.125em 0.5em;
}
.set-4 button {
  transition: color ease-in-out 50ms 200ms,
              background-color ease-in 100ms 200ms,
              box-shadow linear 200ms,
              border ease-in 200ms;
}
.set-4 button.c--destruction:before {
  transition: color ease-in-out 50ms 200ms;
}
.set-4 button:hover {
  background-color: #476376;
  border-color: #476376;
  box-shadow: 0px 3px 0px 0px #31424E;
  color: #fff;
}
.set-4 button.c--cta:hover {
  background-color: #476376;
  border-color: #476376;
  box-shadow: 0px 3px 0px 0px #31424E;
}
.set-4 button.c--destruction:hover {
  box-shadow: 0px 3px 0px 0px #A3312B;
  color: #fff;
  background-color: #D4423B;
  border-color: #D4423B;
}
.set-4 button.c--destruction:hover:before {
  color: #fff;
}
.set-4 button.c--disabled {
  background-color: #EFEFEF;
  border-color: #CCC;
  cursor: not-allowed;
  position: relative;
}
.set-4 .c--disabled i {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  right: 0;
  left: 113%;
  top: 0;
  transition: opacity ease-in 200ms,
              background-color linear 50ms;
  padding: 1em;
  border: 1px solid currentColor;
  border-radius: 3px;
  visibility: hidden;
  background-color: #fff;
  line-height: 1.5em;
}
.set-4 .c--disabled i:before {
  position: absolute;
  background-color: #fff;
  top: 10%;
  left: -6%;
  content: '\e109';
  font-style: normal;
  font-family: 'Duo Admin Icons';
  line-height: 1rem;
}
.set-4 .c--disabled:hover i {
  width: 200%;
  height: auto;
  opacity: 1;
  visibility: visible;
}
.set-4 button.c--disabled:hover {
  border-bottom-width: 1px;
  border-bottom-color: #CCC;
  box-shadow: none;
  font-weight: 400;
  cursor: not-allowed;
  color: currentColor;
}

.set-4 .a--dropdown-content {
  width: 0;
  right: 0%;
  left: 100%;
  top: 90%;
  height: 100%;
  max-height: 0;
  position: absolute;
  transition: width linear 100ms,
              height linear 100ms,
              position linear 100ms,
              opacity ease-in 300ms,
              left linear 100ms,
              top linear 100ms,
              right linear 100ms,
              bottom linear 100ms,
              max-height linear 200ms,
              overflow linear 600ms;
}
.set-4 .a--dropdown-checkbox:checked ~ .a--dropdown-content {
  width: 110%;
  left: 0;
  right: -10%;
  max-height:20vw;
}
.set-4 .c--pag-current {
  border: none;
  border-radius: 0;
  font-weight: 500;
  box-shadow: 0px 3px 0px 0px currentColor;
}
.set-4 .c--pag-current:hover {
  border-color: #405665;
  background-color: #405665;
  color: #fff;
  box-shadow: none;
  border-radius: 50%;
  cursor: default;
}
.set-4 .a--pag-num:hover {
  border: 1px solid #405665;
  background-color: #fff;
  box-shadow: none;
  border-radius: 50%;
}
